$primary-color:#000;
$secondary-color:#fff;
$tertiary-color: pink;
$font:50px;
@mixin myfont($size, $weight, $family, $color){
    font:
        { size: $size;
        weight:$weight;
        family:$family;
    }
    color: $color;
}
.card{
    height: 500px; 
    width:300px; 
    background-color:$primary-color;
    
    &__title{
        font-size: $font;
        color: $secondary-color;
    }
    &__button--active{
           @include myfont(30px,bold,"times new roman",$tertiary-color );
        
    &:hover{
            background-color: blue;
            color: $secondary-color;
            @extend .card;
        }
    }
    &__button{
           @include myfont(50px,italic,Verdana,$primary-color );
    }
}